<style type="text/css" media="all">
  #spliter2 .a {
    background-color: #2d2d2d;
  }
  #spliter2 .b {
    background-color: #2d002d;
  }
  #foo {
    background-color: #E92727;
  }
  #x {
    background-color: #EFBD73;
  }
  #y {
    background-color: #EF3e32;
  }
  #b {
    background-color: #73A4EF;
  }
  #bar {
    background-color: #BEE927;
  }
</style>

<h1>jQuery Vertical Splitter</h1>
<div id="widget">
  <div id="foo">
    <div id="a">
      <div id="x"><div style="padding: 0.5em; text-align:justify">this is div a:x</div></div>
      <div id="y">div a:y</div>

    </div><!-- #a -->
    <div id="b">this is div b</div>
  </div> <!-- end of #foo -->
  <div id="bar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed dolor nisl, in suscipit justo. Donec a enim et est porttitor semper at vitae augue. Proin at nulla at dui mattis mattis. Nam a volutpat ante. Aliquam consequat dui eu sem convallis ullamcorper. Nulla suscipit, massa vitae suscipit ornare, tellus est consequat nunc, quis blandit elit odio eu arcu. Nam a urna nec nisl varius sodales. Mauris iaculis tincidunt orci id commodo. Aliquam non magna quis tortor malesuada aliquam eget ut lacus. Nam ut vestibulum est. Praesent volutpat tellus in eros dapibus elementum. Nam laoreet risus non nulla mollis ac luctus felis dapibus. Pellentesque mattis elementum augue non sollicitudin. Nullam lobortis fermentum elit ac mollis. Nam ac varius risus. Cras faucibus euismod nulla, ac auctor diam rutrum sit amet. Nulla vel odio erat, ac mattis enim.
  </div>
</div> <!-- end of #widget -->
<div id="debug"></div>
<div id="spliter2">
  <div class="a">Praesent volutpat tellus in eros dapibus elementum. Nam laoreet risus non nulla mollis ac luctus felis dapibus. Pellentesque mattis elementum augue non sollicitudin. Nullam lobortis fermentum elit ac mollis. Nam ac varius risus. Cras faucibus euismod nulla, ac auctor diam rutrum sit amet.
  </div>
  <div class="b">Praesent volutpat tellus in eros dapibus elementum. Nam laoreet risus non nulla mollis ac luctus felis dapibus. Pellentesque mattis elementum augue non sollicitudin. Nullam lobortis fermentum elit ac mollis. Nam ac varius risus. Cras faucibus euismod nulla, ac auctor diam rutrum sit amet.
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#widget').width(700).height(400).split({orientation:'vertical', limit:100});
    $('#foo').split({orientation:'horizontal', limit:10});
    $('#a').split({orientation:'vertical', limit:10});
    $('#spliter2').css({width: 200, height: 300}).split({orientation: 'horizontal', limit: 20});
  });
</script>
