

  <div class="komet-external-header">KOMET Tooling</div>

  <div class="komet-external-body">

    <div class="komet-external-left-column">
      Welcome to the KOMET tooling system for viewing, entering, and editing terminology concepts for Veterans Affairs medical applications.
      You must be an authorized user to access this system. Please login below. If you do not have a login contact your VA manager.
    </div>

    <div class="komet-external-right-column">

      <form action="/komet_dashboard/dashboard" class="komet-external-login-form">

        <div>
          <label for="komet-username">User Name:</label>
          <input class="form-control" id="komet_username"/>
        </div>

        <div>
          <label for="komet-password">Password:</label>
          <input class="form-control" id="komet_password"/>
        </div>

        <div>
          <button class="btn btn-primary" type="submit" value="Submit" >Login</button>
        </div>

      </form>

    </div>

  </div>


