<!--example for changing page title based on current view-->
<% content_for :title do %>
    KOMET Dashboard
<% end %>

<div id="komet_dashboard_splitter">
    <div id="komet_west_pane">
        <div id="komet_dashboard_tabs">
            <ul>
                <li><a href='#komet_taxonomy_tab' title="Taxonomy Tab">Taxonomy</a></li>
                <li><a href='#komet_mapping_tab' title="Map Set Tab">Map Sets</a></li>
               <!-- <li><a href='#komet_refsets_tab' title="Ref Sets Tab">Ref Sets</a></li>-->
                <li><a href='#komet_search_tab' title="Search Tab">Search</a></li>
                <!--<li><a href='#komet_inbox_tab' title="Inbox Tab">Inbox</a></li>-->
            </ul>
            <div id="komet_taxonomy_tab"></div>
            <div id="komet_mapping_tab"></div>
            <!--<div id="komet_refsets_tab"></div>-->
            <div id="komet_search_tab"></div>
            <!--<div id="komet_inbox_tab"></div>-->
        </div>
    </div>
    <div id="komet_east_pane"></div>
</div>

<script>
    $(document).ready(function () {

        $("#komet_taxonomy_tab").html('<%= escape_javascript render :partial => 'komet_dashboard/taxonomy/taxonomy'%>');

        $("#komet_dashboard_tabs").tabs({
            activate: function(event, tabs ) {

                if (tabs.newPanel[0].id == "komet_taxonomy_tab"){

                    if (tabs.newPanel.html() == ""){
                        tabs.newPanel.html('<%= escape_javascript render :partial => 'komet_dashboard/taxonomy/taxonomy'%>');
                    }

                } else if (tabs.newPanel[0].id == "komet_mapping_tab"){

                    if (tabs.newPanel.html() == ""){
                        tabs.newPanel.html('<%= escape_javascript render :partial => 'komet_dashboard/mapping/mapping_tree'%>');
                    }

                } else if (tabs.newPanel[0].id == "komet_search_tab"){

                    if (tabs.newPanel.html() == ""){
                        tabs.newPanel.html('<%= escape_javascript render :partial => 'komet_dashboard/search/search'%>');
                    }
                }
            }
        });

        //$("#komet_dashboard_tabs").tabs({active:0});

        // see positioning fix in application.html.erb
        $("#komet_dashboard_splitter").enhsplitter({
            width: "100%",
            position: "41%",
            onDragEnd: function (e) {

                // run this with a small delay because of the way the splitter processes refreshes - it will lose it's reference to the splitter in the refresh and the built in onmouseup handler will error.
                // TODO - See if this is known issue and if not inform splitter developer
                setTimeout(WindowManager.refreshSplitters, 1);
            }
        });
    });
</script>

