<div class="panel panel-default komet-no-margins komet-panel" id="komet_taxonomy_panel">

  <div class="panel-heading">

    <span class="panel-title komet-section-title">
      Taxonomy
    </span>

    <div class="komet-panel-tools">

      <select id="komet_taxonomy_stated_inferred" class="form-control komet-stated-inferred" onchange="setStatedView(this)">
        <option value="true">Stated View</option>
        <option value="false">Inferred View</option>
      </select>

      <!--<div class="glyphicon glyphicon-time"></div>
      <div class="glyphicon glyphicon-refresh"></div>-->

    </div>

  </div>
</div>

<div id='taxonomy_tree'></div>

<script>

  $(document).ready(function () {

    $("#komet_taxonomy_stated_inferred option").filter(function() {
      return $(this)[0].value == "<%= @stated %>";
    }).prop('selected', true);

    WindowManager.initialize();
    TaxonomyModule.initialize();
    ConceptsModule.initialize();
  });

  function setStatedView(field){
    TaxonomyModule.tree.reloadTreeStatedView(field.value);
  }
</script>