<div class="panel panel-default komet-no-margins komet-panel" id="komet_taxonomy_panel">
  <fieldset>
    <div class="panel-heading">
        <div class="komet-panel-tools">

            <div class="komet-panel-tools-control">
                <div class='input-group date' id='komet_taxonomy_tree_stamp_date'>
                    <input type='text' class="form-control" aria-label="STAMP Date Preference" title="STAMP Date Preference">
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="komet-panel-tools-control">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default" for="komet_taxonomy_stated">
                        <input type="radio" name="komet_taxonomy_stated_inferred" id="komet_taxonomy_stated" value="true" autocomplete="off" title="Stated View" aria-label="Stated View"> Stated
                    </label>
                    <label  class="btn btn-default" for="komet_taxonomy_inferred">
                        <input type="radio" name="komet_taxonomy_stated_inferred" id="komet_taxonomy_inferred" value="false" autocomplete="off" title="Inferred View" aria-label="Inferred View"> Inferred
                    </label>
                </div>
            </div>

            <button type="button" class="komet-link-button" onclick="TaxonomyModule.tree.reloadTree(TaxonomyModule.getViewParams(), false);" title="Refresh Taxonomy Tree with Selected Parameters" aria-label="Refresh Taxonomy Tree with Selected Parameters">
                <div class="komet-action-icon glyphicon glyphicon-refresh"></div>
            </button>

        </div>

    </div> </fieldset>
</div>

<div id='taxonomy_tree'></div>

<script>

    $(document).ready(function () {

        WindowManager.initialize();
        TaxonomyModule.initViewParams(<%= raw @view_params.to_json %>);
        TaxonomyModule.initialize();
        ConceptsModule.initialize();
    });
</script>