set JRUBY_OPTS=-J-Xmx2g
set GEM_HOME=C:\work\KOMET\gem_home
set JRUBY_HOME=C:\languages\ruby\jruby-9.1.8.0
set JRUBY_JAR=%JRUBY_HOME%\jruby-complete-9.1.8.0.jar
set JAVA_HOME=C:\languages\Java\jdk1.8.0_65
set ISAAC_PATH=C:\work\KOMET\workspace_isaac
set PATH=%GEM_HOME%\bin;%JRUBY_HOME%\bin;%JAVA_HOME%\bin;%PATH%;