<h1>SVG Diagram</h1>
<div id="svgbasics"></div>
<script>
  $(function() {
    if (UIHelper.isTabActive('taxonomy_content_tabs', 'taxonomy_content_diagram')) {
      $.get(gon.routes.taxonomy_svg_diagram_path, {concept_id: ConceptsModule.getCurrentConceptId}, function (data) {
      }, "script");
    }
  });
</script>
