<style>
  .taxonomy-content-tabs {
    font-size: smaller;
  }
</style>

<div>


</div>

<div class="panel panel-default ets-no-margins ets-concept-panel" id="ets-concept-panel">
  <div class="panel-heading">
    <span class="panel-title ets-section-title">
      <div class="glyphicon glyphicon-link"></div>
      Concept Details
    </span>
    <div class="ets-section-icons">
      <div class="glyphicon glyphicon-new-window"></div>
      <div class="glyphicon glyphicon-resize-full"></div>
      <div class="glyphicon glyphicon-remove"></div>
    </div>
  </div>

  <div class="panel-body">

    <div class="ets-concept-body-tools">
      <div class="glyphicon glyphicon-plus-sign" onclick="toggleConceptDetails('ets-concept-panel')"></div>
      <span>Expand All</span>

      <div class="ets-concept-body-stated-inferred">
        <div>
        <select id="ets_concept_stated_inferred" class="form-control">
          <option value="stated" selected>Stated View</option>
          <option value="inferred">Inferred View</option>
        </select>
        </div>
      </div>
    </div>

    <!-- concept attribute section
    <div id="ets_concept_attribute_section">

      <div class="ets-concept-attribute-title">Concept</div>

      <div id="ets_concept_attribute_panel" class="ets-concept-attribute-panel">

        <div class="ets-floated-bar">

          <div class="glyphicon glyphicon-plus-sign"></div>
          <div class="ets-concept-attribute-title">Attribute</div>

          <div class="ets-concept-attribute-primitive">
            Primitive
          </div>

        </div>

      </div>
    </div>
    -->

    <!-- concept definition section -->
    <div id="ets_concept_definition_section"></div>

  </div>
</div>

<div id="taxonomy_content_tabs" class="taxonomy-content-tabs">
  <ul id="tabLabels">
    <li><a href='#taxonomy_content_summary'>Summary</a></li>
    <li><a href='#taxonomy_content_details'>Details</a></li>
    <li class="svg_diagram"><a href='#taxonomy_content_diagram'>Diagram</a></li>
    <li><a href='#taxonomy_content_expression'>Expression</a></li>
    <li><a href='#taxonomy_content_refsets'>Refsets</a></li>
    <li><a href='#taxonomy_content_members'>Members</a></li>
    <li><a href='#taxonomy_content_references'>References</a></li>
  </ul>
  <div id="taxonomy_content_summary"></div>
  <div id="taxonomy_content_details"></div>
  <div id="taxonomy_content_diagram"></div>
  <div id="taxonomy_content_expression"></div>
  <div id="taxonomy_content_refsets"></div>
  <div id="taxonomy_content_members"></div>
  <div id="taxonomy_content_references"></div>
</div>

<script>
  // initialize the tabs on document ready
  $(document).ready(function () {
    $("#taxonomy_content_tabs").tabs({
      active: 0
    });

    ConceptsModule.initialize();

    // render the SVG diagram when the diagram tabpage is selected
    $("#tabLabels").on("click", ".svg_diagram", function(event){
      // make an AJAX call to reload the concept diagram
      var args = {concept: ConceptsModule.getCurrentConceptId()};
      $.get(gon.routes.taxonomy_render_concept_diagram_path, args, function (data) {
        $("#taxonomy_content_diagram").html(data);
      });
    });
  });

  function toggleConceptDetails(panel_id){

    // toggle the visibility of the panel's detail drawer
    $("#" + panel_id + " .ets-concept-panel-details").toggle();

    var expander = $("#" + panel_id + " .glyphicon-plus-sign, #" + panel_id + " .glyphicon-minus-sign");

    // change the displayed expander icon
    if (expander.hasClass("glyphicon-plus-sign")){

      expander.removeClass("glyphicon-plus-sign");
      expander.addClass("glyphicon-minus-sign");
    } else {

      expander.removeClass("glyphicon-minus-sign");
      expander.addClass("glyphicon-plus-sign");
    }

    // if the user clicked on the top level concept expander, change the associated text label
    if (expander.parent().hasClass('ets-concept-body-tools')){

      var item_text = expander[0].nextElementSibling;

      if (item_text.innerHTML == "Expand All"){
        item_text.innerHTML = "Collapse All";
      } else {
        item_text.innerHTML = "Expand All";
      }
    }

  }
</script>
