<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<nav class="navbar navbar-default">


</nav>

<div id="komet_workflow_form" title="Create Workflow">
  <form>
    <div >
      Name<BR> <input id="txtWorkflow_Name" style="width:300px" type="text"><Br><br>
    </div>
    <div >
      Description <BR> <input id="txtWorkflow_Description" style="width:300px" type="text"><Br><br>
    </div>

  </form>
</div>

<script>

  $(document).ready(function () {
    WorkflowModule.initialize();
  });
</script>