<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<div id="komet_workflow_section">
  <div class="komet-mapping-section-panel-header">
    <!-- Title -->
    <div class="komet-mapping-section-panel-title">
      Workflow
    </div>
  </div>

  <div class="komet-mapping-section-panel-header-shelf">
    <div>
      <div class="input-group">
        <span class="input-group-addon"><span class="fa fa-search"></span></span>
        <input id="komet_mapping_item_filter" class="form-control" placeholder="Type to Search workflow Items...">
      </div>
    </div>
    <button class="btn btn-default form-control komet-mapping-item-filter-button">Search</button>
  </div>
  <div>
    <%= label_tag "komet_workflow_overview_page_size", 'Page Size:' %>
    <%= select_tag "komet_workflow_overview_page_size", options_for_select([['25'], ['50'], ['100'], ['250'], ['500'], ['1000']], '25') %>
    <div id="komet_workflow_overview_sets_refresh" title="Reload Workflow Set Grid" class="fa fa-refresh" onclick="WorkflowModule.loadOverviewSetsGrid();"></div>
  </div>

</div>
<div>
  <div id="komet_workflow_overview_items" style="height: 450px; width:100%;padding:5px;float:left" class="ag-fresh"></div>
</div>
<div id="komet_workflow_concept" class="komet-concept-section" style="width:40%;float:right">

  <div id="komet_view_concept_form" style="border:solid 1px black;padding:5px; overflow: scroll">
    <div class="komet-mapping-section-panel-header" style="width: 100%">
      <div style="float:left;width: 95%">Workflow</div>
      <!-- expand/collapse icon - controls details drawer -->
      <div class="glyphicon glyphicon-remove" style="float: right" onclick="WorkflowModule.hideWindow()"></div>
    </div>
    <div id="komet_view_concept_tabs">
     <div class="komet-workflow-set-definition-row">

        <div id="komet_concept_name" class="komet-workflow-history-item">
          <label for="komet_workflow_name">Workflow Name</label>
          <div id="komet-workflow_name_display" class="komet-mapping-set-editor-display"></div>
        </div>

        <div id="komet_description" class="komet-workflow-history-item">
          <label for="komet_workflow_description">Description</label>
          <div id="komet-workflow_description_display"  class="komet-mapping-set-editor-display"></div>
        </div>

      </div>
      <div class="komet-workflow-set-definition-row">
        <!--todo need to convert creatorid to creator name  -->
        <div id="komet_concept_name" class="komet-workflow-history-item">
          <label for="komet_workflow_creator">Creator</label>
          <div id="komet-workflow_creator_display" class="komet-mapping-set-editor-display"></div>
        </div>

      </div>

      <ul>
        <li><a href='#concept'>Concept</a></li>
        <li><a href='#history'>History</a></li>
      </ul>
      <div id="concept">

        <hr>
        <div><!-- make this a scrollable div -->
          <div id="workflow_concept_grid" style="height: 250px;" class="ag-fresh"></div>
          <br>
        </div>
        <div>
          <label for="komet_workflow_previous_comment">Previous Comment</label>
        </div>
      </div>
      <div id="history">
        <div>
          <div id="workflow_history" style="height: 250px;"></div>
        </div>
      </div>
    </div>
  </div>


</div>
<script>
  $(document).ready(function () {
    $("#komet_view_concept_tabs").tabs();
    WorkflowModule.loadOverviewItemsGrid();
  });

</script>