#if prisme.properties is present prisme must be up!
#edits here require a restart to your Komet instance
#Edit prisme_root to use prisme for roles.
#prisme_root=http://localhost:8080/rails_prisme
#prisme_all_roles_url=https://localhost:443/roles/get_all_roles.json
#prisme_roles_user_url=https://localhost:443/roles/get_user_roles.json
#prisme_roles_ssoi_url=https://localhost:443/roles/get_ssoi_roles.json
#prisme_roles_by_token_url=https://localhost:443/roles/get_roles_by_token.json
#prisme_config_url=https://localhost:443/utilities/prisme_config.json
#prisme_notify_url=http://localhost:3000/log_event.json?security_token=%5B%22jh%5CxFF%5Cx84%5CxED%5Cx0FT%5Cx96F%5E%5Cx8Bi%5CxD8%5CxA4%5Cx024%22%2C+%22+x%5CxBF%5Cx90%5Cx8Cfz%5CxA0%7Bf%5CxBEP%5CxEC%5Cx9A69%22%5D
#Edit this to true to default to the prisme instead of the test roles test harness.
#war_group_id=gov.vha.isaac.gui.rails
#war_artifact_id=rails_komet
#war_version=1.11
#war_repo=releases
#war_classifier=a
#war_package=war
#isaac_root=https://vadev.mantech.com:4848/isaac-rest/
#below used by isaac only (that I know of)
#db_group_id=gov.vha.isaac.db
#db_artifact_id=vhat
#db_version=2016.08.18-1.2
#db_repo=termdata
#db_classifier=all
#db_package=cradle.zip
#nexus_repository_url=https://vaauscttweb83.aac.va.gov:8443/nexus/content/groups/public
#nexus_publication_url=https://vaauscttweb83.aac.va.gov:8443/nexus/content/repositories/termdata/
#nexus_user=devtest
#nexus_pwd=devtesthardtoguess
#nexus_root=https://vaauscttweb83.aac.va.gov:8443
