<LINK href="error_dialog.css" rel="stylesheet" type="text/css">
<LINK href="../error_dialog.css" rel="stylesheet" type="text/css">

<div class="dialog">
  <div>
    <h1>The isaac rest server this instance of Komet is pointed to is still initializing, or is not up.</h1>
    <p>The response from isaac is:</p>
    <p><%= @unexpected_message %></p>
    <p>Please contact a Komet administrator if this message is still occuring in 15 minutes.</p>
  </div>
</div>