<LINK href="error_dialog.css" rel="stylesheet" type="text/css">
<LINK href="../error_dialog.css" rel="stylesheet" type="text/css">

<div class="dialog" style="width:750px">
  <div>
    <h1>No isaac rest server for KOMET was available at the time KOMET was initializing.</h1>
    <p>Please contact a KOMET administrator bring up an instance of ISAAC rest before restarting KOMET.</p>
  </div>
</div>
