<div id="komet_mapping_section">

  <div>
    Mapping Sets
    <%= label_tag :komet_mapping_overview_page_size, 'Page Size:' %>
    <%= select_tag :komet_mapping_overview_page_size, options_for_select([['25'], ['50'], ['100'], ['250'], ['500'], ['1000']], '25')  %>
    <div id="komet_mapping_overview_sets_refresh" title="Reload Mapping Set Grid" class="fa fa-refresh" onclick="MappingModule.loadOverviewSetsGrid();"></div>
    <div id="komet_mapping_overview_sets_stamp" title="Toggle STAMP Fields" class="fa fa-user" onclick="MappingModule.toggleOverviewSTAMP();"></div>
    <div id="komet_mapping_overview_sets_inactive" title="Toggle Inactive Concepts" class="fa-stack small" onclick="MappingModule.toggleOverviewInactiveConcepts();">
      <div class="fa fa-square fa-stack-2x"></div>
      <div class="fa fa-code-fork fa-stack-1x fa-inverse"></div>
    </div>
  </div>

  <div id="komet_mapping_overview_sets" style="height: 450px;" class="ag-fresh"></div>

  <div>
    <div class="fa fa-plus" title="Create New Map Set" onclick="MappingModule.openSetEditor(true);"></div>
    <div id="komet_mapping_overview_set_delete" class="fa fa-minus ui-state-disabled" title="Delete Selected Map Set"></div>
    <div id="komet_mapping_overview_set_edit" class="fa fa-pencil ui-state-disabled" title="Edit Selected Map Set" onclick="MappingModule.openSetEditor(false);"></div>
    <span>0 Mapping Items</span>
  </div>

  <hr>

  <div>
    Mapping Items
  </div>

  <div id="komet_mapping_overview_items" style="height: 450px;" class="ag-fresh"></div>

  <div>
    <div id="komet_mapping_overview_item_create" class="fa fa-plus ui-state-disabled" title="Create New Map Item" onclick="MappingModule.openItemEditor(true);"></div>
    <div id="komet_mapping_overview_item_delete" class="fa fa-minus ui-state-disabled" title="Delete Selected Map Item"></div>
    <div id="komet_mapping_overview_item_edit" class="fa fa-pencil ui-state-disabled" title="Edit Selected Map Item" onclick="MappingModule.openItemEditor(false);"></div>
    <div id="komet_mapping_overview_item_comment" class="fa fa-comment ui-state-disabled" title="Edit Comments for Selected Map Item"></div>
  </div>
</div>

<script>

  $(document).ready(function () {

  });

</script>