<div class="panel panel-default komet-no-margins komet-panel" id="komet_mapping_tree_panel">

    <div class="panel-heading">

        <div class="komet-panel-tools komet-left">

            <div class="komet-panel-tools-control">
                <div class='input-group date' id='komet_mapping_tree_stamp_date'>
                    <input type='text' class="form-control" aria-label="STAMP Date Preference" title="STAMP Date Preference">
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="komet-panel-tools-control">
                <%= select_tag('komet_mapping_tree_allowed_states', options_for_select(session[:komet_allowed_states_options], @view_params[:allowedStates]), class: 'form-control komet-preference-allowed-states', 'aria-label' => 'Choose an active status to view', title: 'Choose an active status to view') %>
            </div>

            <div class="komet-panel-tools-control">
                <%= select_tag('komet_mapping_tree_stamp_modules', options_for_select(session[:komet_module_options], @view_params[:modules]), multiple: true, class: 'form-control komet-preference-modules', 'aria-label' => 'Choose modules to view', title: 'Choose modules to view') %>
            </div>

            <div class="komet-panel-tools-control hide">
                <%= select_tag('komet_mapping_tree_stamp_path', options_for_select(session[:komet_path_options], @view_params[:path]), include_blank: true, class: 'form-control komet-preference-path', 'aria-label' => 'Choose path to view', title: 'Choose path to view') %>
            </div>

            <button type="button" class="komet-link-button" onclick="MappingModule.tree.reloadTree(MappingModule.getViewParams());" title="Reload Mapping Tree with Selected Parameters" aria-label="Reload Mapping Tree with Selected Parameters">
                <div id="komet_mapping_tree_reload" alt="Reload Mapping Tree with Selected Parameters" class="komet-action-icon fa fa-refresh" ></div>
            </button>

        </div>

    </div>

    <div class="panel-body">

        <div id="komet_mapping_tree"></div>

    </div>

</div>

<script>

    $(document).ready(function () {

        MappingModule.initViewParams(<%= raw @view_params.to_json %>);
        MappingModule.initialize();
    });

</script>