<div class="komet-concept-lineage-title">LINEAGE</div>

  <div id="komet_concept_lineage_panel_" class="komet-concept-section-panel komet-concept-lineage-panel">

    <!-- main header block - always visible -->
    <div class="komet-concept-section-panel-header">

      <!-- expand/collapse icon - controls details drawer -->
      <div class="glyphicon glyphicon-plus-sign" onclick="toggleConceptDetails('komet_concept_lineage_panel_')"></div>

      <!-- description type, refset -->
      <div>
        Parent:
        <span id="concept_lineage_header_text">No Parent</span>
      </div>

    </div>

    <!-- details drawer - can be collapsed -->
    <div class="komet-concept-section-panel-details">

      <div class="komet-concept-lineage-tree-container">
        <div>Parents</div>
        <div id="concept_lineage_parents_tree" class="komet-reverse-tree">No Parents</div>
      </div>

      <div class="komet-concept-lineage-tree-container">
        <div>Children</div>
        <div id="concept_lineage_children_tree">No Children</div>
      </div>


    </div>

  </div>

<script>
  $(document).ready(function () {

    try {

      TaxonomyModule.buildTaxonomyTree("concept_lineage_parents_tree", true, TaxonomyModule.selectedTreeNode);
      TaxonomyModule.buildTaxonomyTree("concept_lineage_children_tree", false, TaxonomyModule.selectedTreeNode);

      TaxonomyModule.concept_lineage_parents_tree.bind('ready.jstree', function (event, data) {

        if (data.instance._cnt == 0) {

          TaxonomyModule.concept_lineage_parents_tree.html("<div class='komet-reverse-tree-node'>No Parents</div>");
          $("#concept_lineage_header_text").html("No Parent");
        } else{
          $("#concept_lineage_header_text").html(data.instance.get_node('ul > li:first').text);
        }
      });

      TaxonomyModule.concept_lineage_children_tree.bind('ready.jstree', function (event, data) {

        if (data.instance._cnt == 0) {
          TaxonomyModule.concept_lineage_children_tree.html("No Children");
        }
      });

      // publish an event that passes the id of the concept selected to listeners
      function onChanged(event, selectedObject) {

        var conceptId = selectedObject.node.id;
        $.publish(KometChannels.Taxonomy.taxonomyTreeNodeSelectedChannel, conceptId);
      }

      TaxonomyModule.concept_lineage_parents_tree.on('changed.jstree', onChanged);
      TaxonomyModule.concept_lineage_children_tree.on('changed.jstree', onChanged);

    }
    catch (err) {
      console.log("*******  ERROR **********");
      console.log(err.message);
    }

  });
</script>