<style>
  .taxonomy-content-tabs {
    font-size: smaller;
  }
</style>

<div></div>

<div class="panel panel-default komet-no-margins komet-panel" id="komet-concept-panel">
  <div class="panel-heading">
    <span class="panel-title komet-section-title">
      <div class="glyphicon glyphicon-link"></div>
      Concept Details
    </span>
    <div class="komet-panel-tools">
      <div class="glyphicon glyphicon-new-window"></div>
      <div class="glyphicon glyphicon-resize-full"></div>
      <div class="glyphicon glyphicon-remove"></div>
    </div>
  </div>

  <div class="panel-body">

    <div class="komet-concept-body-tools">
      <div class="glyphicon glyphicon-plus-sign" onclick="ConceptsModule.togglePanelDetails('komet-concept-panel')"></div>
      <span>Expand All</span>

      <div class="komet-flex-right">
        <select id="komet_concept_stated_inferred" class="form-control komet-stated-inferred" onchange="setConceptStatedView(this)">
          <option value="true">Stated View</option>
          <option value="false">Inferred View</option>
        </select>
      </div>
    </div>

    <!-- concept attribute section
    <div id="komet_concept_attribute_section">

      <div class="komet-concept-attribute-title">Concept</div>

      <div id="komet_concept_attribute_panel" class="komet-concept-attribute-panel">

        <div class="komet-floated-bar">

          <div class="glyphicon glyphicon-plus-sign"></div>
          <div class="komet-concept-attribute-title">Attribute</div>

          <div class="komet-concept-attribute-primitive">
            Primitive
          </div>

        </div>

      </div>
    </div>
    -->

    <!-- concept definition section -->
    <div id="komet_concept_definition_section" class="concept-section"></div>
    <div id="komet_concept_sememes_section" class="concept-section"></div>
    <div id="komet_concept_lineage_section" class="concept-section"></div>
    <div id="komet_concept_diagram_section" class="concept-section"></div>

  </div>
</div>

<!--
<div id="taxonomy_content_tabs" class="taxonomy-content-tabs">
  <ul id="tabLabels">
    <li><a href='#taxonomy_content_details'>Details</a></li>
    <li class="svg_diagram"><a href='#taxonomy_content_diagram'>Diagram</a></li>
    <li><a href='#taxonomy_content_expression'>Expression</a></li>
    <li><a href='#taxonomy_content_refsets'>Refsets</a></li>
    <li><a href='#taxonomy_content_members'>Members</a></li>
    <li><a href='#taxonomy_content_references'>References</a></li>
  </ul>
  <div id="taxonomy_content_summary"></div>
  <div id="taxonomy_content_details"></div>
  <div id="taxonomy_content_diagram"></div>
  <div id="taxonomy_content_expression"></div>
  <div id="taxonomy_content_refsets"></div>
  <div id="taxonomy_content_members"></div>
  <div id="taxonomy_content_references"></div>
</div>
-->
<script>
  // initialize the tabs on document ready
  $(document).ready(function () {

    ConceptsModule.initialize();

    /*$("#taxonomy_content_tabs").tabs({
      active: 0
    });
     */
  });
</script>
