

<div class="komet-concept-diagram-title">SVG Diagram</div>

<div id="komet_concept_diagram_panel_" class="komet-concept-section-panel komet-concept-diagram-panel">

  <!-- main header block - always visible -->
  <div class="komet-concept-section-panel-header">

    <!-- expand/collapse icon - controls details drawer -->
    <div class="glyphicon glyphicon-plus-sign" onclick="ConceptsModule.togglePanelDetails('komet_concept_diagram_panel_',function(open){ if(open){SvgHelper.startDiagram('svgbasics', null);}}, true)"></div>

    <!-- description type, refset -->
    <div>
      <span id="concept_diagram_header_text">Click here to view diagram</span>
    </div>

  </div>

  <!-- details drawer - can be collapsed -->
  <div class="komet-concept-section-panel-details">
    <div style="height:800px;width:1000px " id="svgbasics"></div>
  </div>

</div>

