<div id='jstree'></div>

<script>
  $(document).ready(function () {
    //set ui to hour glass
    Common.cursor_wait();
    TaxonomyModule.initialize("#jstree");
    Common.cursor_auto();
  });
</script>
