.vha-import-wrapper {
	div.close-x {
		float: right;
		margin-top: 0.8em;
		span { 
			margin: 1em;
			font-size: 1.2em;
		}
	}
	form {
		.modal-header {
			.modal-title {
				margin-top: .2em;
				font-size: 1.4em;
			}
		}	
		.modal-body {
			.modal-title {
				margin: 0.5em 0;
		    font-size: 1.2em;
			}
		}
		input[type=file] {
			font-size: 0.8em;
		}
	}
}

.message-box, .error-box {
	.bg-blue {
		font-size: 1.2em;
        padding: 1em;
        font-weight: 400;
        color: white;
        background-color: #414cba;
	}
}