<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">KOMET Tooling</a>
  </div>
  <div>
    <ul class="nav navbar-nav">
      <li><a href="javascript: location.replace('<%= komet_dashboard_dashboard_path %>')">Taxonomy Dashboard</a></li>
      <li><a href="javascript: location.replace('<%= mapping_mapping_path %>')">Mapping</a></li>
      <li><a id="settings" href="#">Settings</a></li>
      <li><a id="logout" href="<%=logout_path%>">logout</a></li>
      <div id="dialog-form" title="User's Preference">
        <div id="tabs">
          <ul>
            <li><a href='#useroptions'>Options</a></li>
            <li><a href='#color-module'>Color Module</a></li>
            <li><a href='#colorpath-module'>Color Path</a></li>
           <li><a href='#komet_preferences_refsets_colors'>Color Refsets</a></li>
          </ul>
          <div id="useroptions">
            <form>
              <div>
                <table>
                  <tr> <td>Select Language:&nbsp;&nbsp;</td><td><select id="komet_concept_language" >
                  </select></td>
                  </tr>
                </table>
              </div><br><br>

              <table id="description_type"  width='80%' style="z-index:990"  cellpadding='2' cellspacing='3'>
              </table>
              <br><br>

              <table id="dialecttbl"  width='80%'style="z-index:990" cellpadding='2' cellspacing='3'>
              </table>

              <br><br>
              <div>
                <div  width='60%' style="background-color: #4f80d9;color:white;z-index:990">Status</div>
                <input type="radio" name="status" value="Active">Active<br>
                <input type="radio" name="status" value="Inactive">InActive<br>
                <input type="radio" name="status" checked="checked" value="Active,Inactive">Both<br>
              </div>
            </form>
          </div>
          <div id="color-module" style="height: 3500px;">
            <table id="listofmodule"  width='90%'     cellpadding='2' cellspacing='3'>
            </table>

          </div>
         <div id="colorpath-module"  style="height: 450px;">
            <table id="listofpath"  width='90%'    cellpadding='2' cellspacing='3'>
            </table>
          </div>

         <div id="komet_preferences_refsets_colors" style="height: 450px;">
           <table><tr><td><div id="getdd"></div></td><td>
             &nbsp;&nbsp;<input name="color_id" class="demo" title="Click here to change color"  type="hidden" id="color_id" size="1" style="height:25px" data-control="hue" value="" />
              </td>
              <td>&nbsp;&nbsp;<input name="applybtn" id="applybtn" type="button" value="Apply"  /></td></tr>
           </table>
          <BR><BR>
          <table  width="90%"  cellpadding="5" cellspacing="0" id="komet_preferences_refsets_table"> </table>
         </div>

        </div>
      </div>
    </ul>
  </div>
</nav>
<script>

  $(document).ready(function () {
    $("#tabs").tabs();
    PreferenceModule.initialize();
    });
</script>