<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<nav class="komet-navbar" role="navigation">

  <div class="komet-navbar-header"  role="navigation">
    <div class="komet-logo-komet" title="KOMET">KOMET</div> <div class="komet-logo-tooling" title="Tooling">Tooling</div>
  </div>

  <div class="komet-navbar-navigation" role="navigation">

    <div onclick="location.replace('<%= komet_dashboard_dashboard_path %>')" title="Taxonomy Dashboard" class="active" role="navigation">Taxonomy Dashboard</div>
    <div onclick="location.replace('<%= workflow_dashboard_path %>')" title="Workflows" role="navigation">Workflows</div>

    <div class="dropdown" role="navigation">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Actions">Actions <span class="caret"></span></a>
      <ul class="dropdown-menu" aria-hidden="true" aria-label="submenu">
        <li><a onclick="$.publish(KometChannels.Taxonomy.taxonomyConceptEditorChannel, [null, WindowManager.getLinkedViewerID(), WindowManager.INLINE]); return false;" title="Create New Concept">Create New Concept</a></li>
        <li><a onclick="MappingModule.createNewMapSet(true); return false;" title="Create New Map">Create New Map</a></li>
      </ul>
    </div>

  </div>

  <div class="komet-navbar-tools" role="navigation">
    <div><div class="glyphicon glyphicon-cog" id="komet_user_preference_link" title="Settings"></div></div>
    <div><div class="glyphicon glyphicon-user" title="User ID"></div> <%= raw komet_user %></div>
    <div id="logout" onclick="location.replace('<%= logout_path %>')"><div class="glyphicon glyphicon-log-out" title="Logout"></div> Logout</div>
  </div>

</nav>

<div id="komet_user_preference_form" title="User's Preference">
    <div id="komet_preferences_tabs" role="tab">
        <ul>
            <li><a href='#useroptions' title="Options">Options</a></li>
            <li><a href='#color-module' title="Color Module">Color Module</a></li>
            <li><a href='#colorpath-module' title="Color Path">Color Path</a></li>
            <li><a href='#komet_preferences_refsets_colors' title="Color Refsets">Color Refsets</a></li>
        </ul>
        <div id="useroptions">
            <form>
                <div>
                    <table>
                        <tr>
                            <td>Select Language:&nbsp;&nbsp;</td>
                            <td><select id="komet_concept_language" aria-labelledby="Select Language">
                            </select></td>
                        </tr>
                    </table>
                </div>
                <br><br>

                <table id="description_type" width='80%' style="z-index:990" cellpadding='2' cellspacing='3'>
                </table>
                <br><br>

                <table id="dialecttbl" width='80%' style="z-index:990" cellpadding='2' cellspacing='3'>
                </table>

                <br><br>

                <div>
                    <div width='60%' style="background-color: #4f80d9;color:white;z-index:990">Status</div>
                    <input type="radio" name="status" value="Active">Active<br>
                    <input type="radio" name="status" value="Inactive">InActive<br>
                    <input type="radio" name="status" checked="checked" value="Active,Inactive">Both<br>
                </div>
            </form>
        </div>
        <div id="color-module" style="height: 3500px;">
            <table id="listofmodule" width='90%' cellpadding='2' cellspacing='3'>
            </table>

        </div>
        <div id="colorpath-module" style="height: 450px;">
            <table id="listofpath" width='90%' cellpadding='2' cellspacing='3'>
            </table>
        </div>

        <div id="komet_preferences_refsets_colors" style="height: 450px;">
            <table>
                <tr>
                    <td>
                        <div id="getdd"></div>
                    </td>
                    <td>
                        &nbsp;&nbsp;<input name="color_id" class="demo" title="Click here to change color" type="hidden" id="color_id" size="1" style="height:25px" data-control="hue" value=""/>
                    </td>
                    <td>&nbsp;&nbsp;<input name="applybtn" id="applybtn" type="button" value="Apply"/></td>
                </tr>
            </table>
            <BR><BR>
            <table width="90%" cellpadding="5" cellspacing="0" id="komet_preferences_refsets_table"></table>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#komet_preferences_tabs").tabs();
        PreferenceModule.initialize();
    });
</script>